#pricipal-div-form {
  margin-left: 4%;
  margin-right: 4%;
  letter-spacing: 1px;
}

.wallet-form {
  display: flex;
  flex-direction: column;
  background-color: #e9e9e9;
  border-radius: 20px;
  padding-top: 5%;
  padding-left: 3%;
  padding-right: 3%;
  height: 13vh;
}

#div-in-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; 
}

#button-add{
  width: 60px;
  border-radius: 50%;
  align-self: flex-end;
  margin-top: 2%;
}

.style-input {
  background-color: #e9e9e9;
  border: 0.5px solid black;
  border-radius: 10px;
  padding: 4px;
}

select {
  background-color: #e9e9e9;
  border-radius: 10px;
  padding: 4px;
}