.header {
  background-color: #820AD1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  letter-spacing: 1px;
  color: white;
  letter-spacing: 1px;
}

#min-logo-img {
  width: 60px;
}

.svgUser {
  width: 25px;
  margin-right: 5px;
}

#div-user {
  display: flex;
  align-items: center;
}