body {
  background-color: #FFD552;
}

.fieldset {
  display: flex;
  flex-direction: column;
  margin: 30%;
  margin-top: 5%;
  height: 70vh;
  justify-content: space-evenly;
  text-align: center;
  font-size: 27px;
  border-radius: 15px;
  padding: 2%;
  background-color: #FFF0C1;
  border: #ffbf00 4px solid;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 15px;
  border-radius: 7px;
  width: 80%;
  height: 50%;
  background-color: #FFF0C1;
  border: #ffbf00 2px solid;
}

.button {
  border-radius: 10px;
  width: 80%;
  height: 15%;
  align-self: center;
  background-color: #ffdf7d;
  border: #ffbf00 2px solid;
  color: #ffbf00;
  font-size: large;
}

.button:hover {
  background-color: #ffbf00;
  border: #ffdf7d 2px solid;
  color: #ffdf7d;
}

img {
  width: 40%;
  align-self: center;
  margin-bottom: 2%;
}
